# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtual Environment
venv/
ENV/
env/
.venv/

# Django
# db.sqlite3
# media/
staticfiles/
*.pot
*.pyc
*.pyo
*.pyd

# VSCode / PyCharm
.vscode/
.idea/

# Environment variables
.env
.env.*

# Migrations (optional: keep if using version control for them)
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd
*/migrations/*.log

# Coverage reports
htmlcov/
.coverage
coverage.xml

# Byte-compiled / cache
*.pyo
*.pyc
*.pyd
*.pyc
__pycache__/

# macOS
.DS_Store

# Testing
.tox/
.nox/
.pytest_cache/

# MyPy / Pyre / Pylint
.mypy_cache/
.pyre/
.pylint.d/
